<!DOCTYPE html>
<html lang="en" xlmns:th:"http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #fff; padding: 20px; display: flex; justify-content: center">
<div style="background-color: rgba(188, 108, 37, 1); border-radius: 8px; padding: 20px; box-shadow: 0 2px 5px rgba(200, 125, 40, 10); max-width: 500px; min-width: 450px">
    <div style="display: flex; justify-content: center;" >
        <img src="cid:logoImagen" width="100px" height="100px" alt="logo">
        <h1 style="font-size: 40px; color: #fff; margin-left: 10px">Cafe Klang</h1>
    </div>
    <div style="color: #fff">
        <hr style="background-color: #dda15e; height: 3px; border: 0;">
        <h3>Hola, <span th:text="${nombre}">Usuario</span>!</h3>
        <p> Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Si fuiste tú quien la solicitó, haz clic en el siguiente botón para crear una nueva contraseña:
        </p>
        <a href="https://cafeteria-restablecer-password.vercel.app/"
           style="color: white; background-color: #111; padding: 10px 15px; text-decoration: none; border-radius: 6px;">
            Restaurar contraseña
        </a>
        <p>Si no realizaste esta solicitud, puedes ignorar este mensaje; tu contraseña actual no se verá afectada.</p>
        <p>Si tienes algún problema o necesitas ayuda adicional, no dudes en contactarnos.😊</p>
        <p>Gracias. El equipo de <i>Cafe Klang</i></p>
    </div>
</div>
</body>
</html>